@import 'tailwindcss';

@layer base {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  #root {
    min-height: 100vh;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
